@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply scroll-smooth;
    background: #fafafa;
  }
  .filter-Card .filter.active button {
    @apply scale-105 rounded-[4px] bg-black text-white;
  }
}

.filter-Card {
  background: linear-gradient(360deg, #fafafa 0%, #fafafa 30%, transparent 0%, transparent 100%);
}
.swiper-wrapper {
  display: flex;
  align-items: center;
}
.sticky-header {
  top: 0;
  background: #4a4a4a;
  padding: 16px 0;
}

.swiper-slide-prev,
.swiper-slide-next {
  max-width: 220px !important;
  height: 112px !important;
  width: 100% !important;
  opacity: 0.5 !important;
  transition-duration: 0ms;
  z-index: 0;
  margin-right: 30px;
  border: none;
  border-radius: 7px;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 15%);
}
.swiper-slide-prev .description,
.swiper-slide-next .description {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.swiper-slide-active {
  max-width: 500px !important;
  width: 100% !important;
  height: 300px !important;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 15%);
}

.swiper-slide-prev .image,
.swiper-slide-next .image {
  @apply h-2 pr-2;
}
.swiper-slide-prev .title,
.swiper-slide-next .title {
  @apply py-0 pt-[4px] text-xs;
}
@media only screen and (max-width: 1200px) {
  .swiper-slide-prev,
  .swiper-slide-next {
    max-width: inherit !important;
    width: inherit !important;
    height: inherit !important;
  }
  .swiper-slide-prev .description,
  .swiper-slide-next .description {
    display: block;
    max-width: inherit;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
    overflow: auto;
  }
  .swiper-slide-active {
    max-width: inherit !important;
    width: inherit !important;
    height: inherit !important;
  }
}
@media only screen and (max-width: 700px) {
  .swiper-slide-active {
    max-width: 350px !important;
    width: 100% !important;
    height: inherit !important;
  }
}
.swiper-pagination-bullet-active {
  background: #4a4a4a !important;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}
